<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kontak</title>
</head>
<body>
    <font color="00ffdd">
        <body bgcolor="#f18d9e">
        <font face="Curlz MT">
        <marquee behavior="alternate"><font size="5">
    <H1>SELAMAT DATANG DI HALAMAN KONTAK</H1></marquee></font>
    <a href="/menu"><button>KEMBALI</button></a>
</body>
</html>